html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: var(--body-color);
}

a {
  text-decoration: none;
}

:root {
  /*  --primary-color: #3f51b5;
  --secondary-color: #ff4081;
  --success-color: #4caf50;
  --info-color: #00bcd4;
  --warning-color: #ffeb3b;
  --danger-color: #f44336;
  --light-color: #f5f5f5;
  --dark-color: #333;
  --body-color: #F4F7FE;
  --white-color: #fff;
  --black-color: #000; */

  /* Colors: */
  --unnamed-color-4a90e2: #4A90E2;
  ---eaeaea-borders: #EAEAEA;
  ---f4f4f4-bckgs: #F4F4F4;
  --unnamed-color-ffffff: #FFFFFF;
  --unnamed-color-231f20: #231F20;
  --unnamed-color-f37321: #F37321;
  --unnamed-color-3b3c43: #3B3C43;
}

.ocultaSelect {
  mat-pseudo-checkbox.mat-pseudo-checkbox {
    display: none !important;
  }
}


html,
body {
  height: 100%;
}


.container-actions {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.container-actions p {
  font-size: 20px;
  margin-top: 10px;
}

.scroll-lista {
  border: 1px solid #a9abad;
  width: 100%;
  overflow-x: auto;
}

.contenedor-con-scroll {
  width: 100%;
  /* Ancho fijo */
  max-height: 800px;
  border: 1px solid #a9abad;
  /* Un borde para visualizar el contenedor */
  padding: 10px 0px;
  /* Aplica las propiedades de overflow */
  overflow: auto;
  /* Muestra barras de desplazamiento solo si son necesarias */
}

/*estilos component header*/

.container-home {
  position: relative;
  width: 100%;
  height: 130px;
}

.component-header {
  position: absolute;
  width: 100%;
  top: 30px;
  left: 20px;
}

/*estilos btn custom color bachoco*/
.btn-custom {
  width: 100px !important;
  height: 34px !important;
  background: #F37321 0% 0% no-repeat padding-box !important;
  border-radius: 2px !important;
  font: normal normal medium 14px/16px Montserrat !important;
  color: white;
  border: none;
}

.btn-custom:hover {
  /* Efecto al pasar el ratón */
  background: #946446 0% 0% no-repeat padding-box !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Una sombra sutil */
  transform: translateY(-1px);
  /* Mover el botón ligeramente hacia arriba */
}

.btn-custom:disabled {
  /* Estilo blanquecino/grisáceo */
  background-color: #191a1b;
  /* Un gris muy claro */
  color: #cad4e2;
  /* Texto gris oscuro */
  /* Quitar interacciones */
  cursor: not-allowed;
  /* Mostrar el icono de "prohibido" */
  opacity: 0.8;
  /* Reducir un poco la opacidad */

  /* Es crucial anular los efectos de hover y active que pueda tener */
  box-shadow: none;
  transform: none;
}

/* Opcional: Anular explícitamente el hover en disabled */
.btn-custom:disabled:hover {
  background-color: #1b1e20;
  /* Mantiene el color deshabilitado */
  cursor: not-allowed;
}

.row button {
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
}

/*estilos card main de cada pagina*/
.main-card {
  margin: 20px 20px 20px 20px;
  height: 500px;
}

.container-home {
  position: relative;
  width: 100%;
  height: 130px;
}

.component-header {
  position: absolute;
  width: 97%;
  top: 30px;
  left: 20px;
}

.card-formulario {
  position: relative;
  top: 30px;
  left: 20px;
  width: 96%;
  height: 300px;
}

.main-card {
  position: relative;
  top: 30px;
  height: auto;
}

table th {
  background-color: rgba(243, 115, 33, 0.1);
}


.invalid-feedback {
  position: absolute !important;
}

.sweet-alert-custom-confirm-button {
  color: white !important;
}

.size-text-error {
  font-size: 1em;
  font-weight: 550;
  margin-bottom: 2px;
}

.text-danger {
  font-size: 1em !important;
  font-weight: 550 !important;
  min-height: 2.8em;
  margin-top: 2px;
}

/* Responsive */
@media (max-width: 768px) {
  .card-formulario {
    width: 96%;
    height: 590px;
  }

  .component-header {
    position: absolute;
    width: 100%;
    top: 30px;
    left: 20px;
  }
}
