
 .row {
   display: flex;
   align-items: center;
   margin-bottom: 20px;
   flex-wrap: wrap;
 }

 .card-header {
   padding: 20px;
 }


 .container-login {
   height: auto;
   width:100%;
   padding: 20px;
 }

 .container-botones {
   display: flex;
   justify-content: center;
   align-items: center;
   padding-left: 20px;
   padding-top: 10px;
   text-align: center;
 }
 .header-modal{
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .container-botones button {
   border: none;
   width: 120px !important;
 }

 /* Responsive */
 @media (max-width: 768px) {
   .row {
     flex-direction: column;
     align-items: flex-start;
   }

   .row label {
     min-width: unset;
   }

   .cdk-overlay-pane mat-mdc-dialog-panel {
     width: 100% !important;
   }

   .container-login {
     height: 100%;
   }

   .card-header h2 {
     font-size: 20px;
   }

   .container-botones {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding:0px;
   }

.container-botones button {
   border: none;
   width: 90px !important;
 }

 }

 /* Pantallas medianas y grandes (tablet/laptop) */
 @media (min-width: 768px) {
   mat-form-field input.mat-input-element {
     font-size: 16px !important;
     height: 10px !important;
   }

   mat-form-field .mat-mdc-floating-label {
     font-size: 14px;
   }

   .input-md-height {
     height: 15px !important;
   }

   .btn-login {
     box-shadow: 4px 8px 20px #1F1F1F1A;
     border-radius: 2px;
     opacity: 1;
     border: none;
     color: white;
   }

   .link-olvide-password {
     font: normal normal normal 16px/0px Montserrat;
     margin: 10px 0px 30px 0px;
   }

   .container-login {
     height: 50%;
   }
 .text-info p {
   color: black;
   font-size: 16px;
 }
 }

 @media (min-width: 1200px) {
   mat-form-field input.mat-input-element {
     font-size: 18px;
     height: 15px !important;
   }

   mat-form-field .mat-mdc-floating-label {
     font-size: 16px;
     height: 15px !important;
   }

   .input-md-height {
     height: 15px !important;
     padding-top: 5px;
     /* Adjust padding for alignment */
     padding-bottom: 5px;
   }

   .container-login {
     height: 100%;
   }

   .link-olvide-password {
     font: normal normal medium 20px/16px Montserrat;
     letter-spacing: 0.56px;
   }
 }
