  <div clas="container">
      <div class="contenedor">
        <div class="col-md-6">
          <div class="container-text">
                  <p>Portal Gestion de Agenda</p>
          </div>
        </div>
          <div class="col-md-6">
          <div class="login__container">
            <div class="login__header">

            </div>
            <div class="text-dashboard">
                <br/><br/><br/><br/>
            </div>
            <app-login-form></app-login-form>
            <div class="login__footer mt-2">
            </div>
          </div>
        </div>
      </div>
    </div>
