
   .container-login {
     margin-top: 100px;
   }
   .link-crear-cuenta:focus{

   }
   @media (max-width: 1200px) {
     .btn-login {
       font-size: 16px;
     }

     mat-form-field input.mat-input-element {
       font-size: 18px;
       height: 15px !important;
     }

     mat-form-field .mat-mdc-floating-label {
       font-size: 16px;
       height: 15px !important;
     }

     .input-md-height {
       height: 15px !important;
       padding-top: 5px;
       /* Adjust padding for alignment */
       padding-bottom: 5px;
     }

     .container-login {
       height: 100%;
     }

     .link-olvide-password {
       font: normal normal medium 20px/16px Montserrat;
       letter-spacing: 0.56px;
     }
   }

   /* Pantallas medianas y grandes (tablet/laptop) */
   @media (max-width: 768px) {
     mat-form-field input.mat-input-element {
       font-size: 16px !important;
       height: 10px !important;
     }

     mat-form-field .mat-mdc-floating-label {
       font-size: 14px;
     }

     .input-md-height {
       height: 15px !important;
     }

     .link-olvide-password {
       font: normal normal normal 16px/0px Montserrat;
       margin: 10px 0px 30px 0px;
       margin-top: 30px;
     }

     .container-login {
      margin-top: 0px;
     }

   }
